/*
0 - 600px: 				Phone
600 - 900px: 		Tablet portrait
900 - 1200px:			Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + ;			Big desktop
*/
/* 
$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop
*/
@font-face {
  font-family: Nunito;
  src: url("../font/Nunito-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: Nunito;
  src: url("../font/Nunito-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal; }

@font-face {
  font-family: Nunito;
  src: url("../font/Nunito-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: Nunito;
  src: url("../font/Nunito-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: Poppins;
  src: url("../font/Poppins-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: Poppins;
  src: url("../font/Poppins-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: "Playfair Display";
  src: url("../font/PlayfairDisplay-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "Playfair Display";
  src: url("../font/PlayfairDisplay-BoldItalic.otf") format("opentype");
  font-weight: bold;
  font-style: italic; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(10rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  max-width: 192rem; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }

body {
  box-sizing: border-box; }

::selection {
  background-color: #87bbbc;
  color: #fff; }

.hr {
  height: 2px;
  border: none;
  background-color: #242424;
  width: 15rem;
  margin: auto; }

.pink {
  background-color: pink; }

body {
  font-family: Nunito, sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #1a1a1d; }

p {
  font-size: 1.7rem;
  line-height: 1.7;
  color: #1a1a1d;
  font-weight: normal; }

.blockquote {
  font-family: "Playfair Display", cursive;
  text-transform: capitalize;
  font-size: 3rem;
  padding: 9.6rem 10rem;
  color: #fff;
  background-color: #000;
  text-align: center; }
  .blockquote__highlight {
    font-weight: bold;
    font-style: italic; }

.link:link, .link:visited {
  font-weight: 800;
  font-size: 1.2rem;
  line-height: 4rem;
  letter-spacing: 2.4px;
  text-transform: uppercase;
  text-decoration: none;
  color: #696970;
  display: inline-block;
  border-bottom: 2px solid transparent;
  min-width: 14.2rem; }

.link--active:link, .link--active:visited {
  color: #1a1a1d;
  border-bottom-color: #1a1a1d; }

.link:hover {
  border-bottom-color: inherit; }

.heading {
  font-family: Poppins, sans-serif; }
  .heading--primary {
    font-size: 10.1rem;
    font-weight: normal;
    line-height: 10rem;
    letter-spacing: 2px;
    margin-bottom: 6rem; }
    @media only screen and (max-width: 56.25em) {
      .heading--primary {
        font-size: 6rem;
        margin-bottom: 0; } }
  .heading--secondary {
    font-size: 6rem;
    font-weight: normal;
    margin-bottom: 2.1rem;
    position: relative; }
  .heading--sub {
    font-size: 1.7rem;
    text-transform: uppercase;
    line-height: 3rem;
    letter-spacing: 3.4px;
    font-weight: 600; }
  .heading-3 {
    font-size: 2.4rem;
    font-weight: 500;
    margin-bottom: 1.5rem; }
  .heading__link {
    text-decoration: none;
    color: #1a1a1d; }
    .heading__link:hover {
      color: #87bbbc; }

.meta__link {
  font-size: 1.6rem;
  color: #77777e;
  text-decoration: none; }
  .meta__link:hover {
    color: #87bbbc; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; } }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem !important; } }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.slider:after {
  content: '';
  clear: both;
  display: table; }

.slider__canvas {
  float: left;
  width: 77.3%;
  height: 42.1875vw;
  position: relative; }
  .slider__canvas:after {
    content: '';
    clear: both;
    display: table; }
  @media only screen and (max-width: 37.5em) {
    .slider__canvas {
      float: none;
      width: 100%; } }

.slider__slide {
  float: left;
  width: 100%;
  position: absolute;
  opacity: 0; }
  .slider__slide--active {
    opacity: 1; }
  @media only screen and (max-width: 37.5em) {
    .slider__slide {
      float: none;
      position: relative; } }

.slider__controls {
  float: left;
  width: calc(100% - 77.3%);
  margin-top: calc(42.1875vw - 19.69vw); }
  @media only screen and (max-width: 56.25em) {
    .slider__controls {
      margin-top: 10vw; } }
  @media only screen and (max-width: 37.5em) {
    .slider__controls {
      margin-top: 1rem;
      float: none;
      width: 100%; } }
  .slider__controls ul {
    list-style: none;
    padding: 9rem 0 0 9.5rem; }
    @media only screen and (max-width: 56.25em) {
      .slider__controls ul {
        padding: 9rem 0 0 3rem; } }
    @media only screen and (max-width: 37.5em) {
      .slider__controls ul {
        padding: 1rem; } }
    .slider__controls ul li {
      position: relative; }
      @media only screen and (max-width: 37.5em) {
        .slider__controls ul li {
          float: left;
          width: 10rem; } }
      .slider__controls ul li.active a {
        color: #1a1a1d; }
      .slider__controls ul li.active:before {
        width: 6rem;
        height: 2px;
        background-color: #000;
        content: '';
        position: absolute;
        top: 2.3rem;
        left: 30%; }
        @media only screen and (max-width: 37.5em) {
          .slider__controls ul li.active:before {
            width: 3rem; } }
        @media only screen and (max-width: 37.5em) {
          .slider__controls ul li.active:before {
            top: .6rem; } }
    .slider__controls ul a {
      text-decoration: none;
      font-size: 1.2rem;
      font-weight: 800;
      letter-spacing: 2.4px;
      line-height: 4.8rem;
      display: block;
      color: rgba(105, 105, 112, 0.7); }
      @media only screen and (max-width: 37.5em) {
        .slider__controls ul a {
          line-height: 1.5; } }

.slider__video-box {
  width: 100%;
  height: 42.1875vw;
  background-color: #e2e8e8;
  overflow: hidden; }

.slider__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center; }

.slider__play-btn {
  width: 5.73vw;
  height: 5.73vw;
  background: #fff;
  position: absolute;
  bottom: 0;
  left: 0; }
  .slider__play-btn > img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.slider__content {
  float: left;
  width: calc(100% - 18.8%);
  position: relative; }
  @media only screen and (max-width: 37.5em) {
    .slider__content {
      float: none;
      width: 100%; } }

.slider__social {
  float: left;
  width: 18.8%;
  padding-top: .7rem;
  padding-left: .3rem; }
  @media only screen and (max-width: 37.5em) {
    .slider__social {
      float: none;
      width: 100%; } }

.slider__number {
  position: absolute;
  transform: rotate(-90deg);
  top: 26.8vw;
  left: -.7rem;
  font-family: Poppins, sans-serif;
  font-weight: 500;
  font-size: 1.8rem; }
  @media only screen and (max-width: 37.5em) {
    .slider__number {
      display: none; } }
  .slider__number:before {
    width: 6rem;
    height: 2px;
    background-color: #000;
    content: '';
    position: absolute;
    top: 1.5rem;
    left: 5vw; }
    @media only screen and (max-width: 37.5em) {
      .slider__number:before {
        width: 3rem; } }

.slider__button-box {
  position: absolute;
  bottom: 0; }
  @media only screen and (max-width: 37.5em) {
    .slider__button-box {
      position: relative; } }

.slider__button {
  line-height: 3rem;
  letter-spacing: 2.8px; }

.slider__text {
  position: absolute;
  top: 13.542vw;
  left: -7.3%; }
  @media only screen and (max-width: 56.25em) {
    .slider__text {
      top: 8vw; } }
  @media only screen and (max-width: 37.5em) {
    .slider__text {
      top: 3rem;
      left: 3rem; } }

.slider__heading {
  max-width: 50rem;
  position: relative; }
  @media only screen and (max-width: 56.25em) {
    .slider__heading {
      max-width: 29rem;
      line-height: 1.2; } }
  .slider__heading:after {
    width: 6rem;
    height: 7px;
    background-color: #fff;
    content: '';
    position: absolute;
    right: 2.8rem;
    bottom: 1.5rem; }
    @media only screen and (max-width: 56.25em) {
      .slider__heading:after {
        width: 3rem; } }

.slider__arrows-icon {
  font-size: 1.7rem; }
  .slider__arrows-icon--up:before {
    display: block;
    transform: rotate(-45deg); }
  .slider__arrows-icon--down:before {
    display: block;
    transform: rotate(135deg); }
  .slider__arrows-icon--left:before {
    display: inline-block;
    transform: rotate(-135deg); }
  .slider__arrows-icon--right:before {
    display: inline-block;
    transform: rotate(45deg); }

.slider__icon-btn {
  text-decoration: none;
  color: #1a1a1d;
  margin-bottom: 4rem; }
  .slider__icon-btn--block {
    display: block; }
  .slider__icon-btn--deactivated {
    color: #d3dcdc; }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  transition: all .2s;
  backface-visibility: hidden;
  position: relative;
  font-size: 1.4rem;
  border: none;
  cursor: pointer; }

.btn--square {
  color: #fff;
  background: #b4d3d3;
  padding: 4rem 6.4rem; }
  @media only screen and (max-width: 56.25em) {
    .btn--square {
      padding: 1rem 2rem; } }

.btn--primary {
  color: #fff;
  font-size: 1.4rem;
  letter-spacing: 2.8px;
  padding: 1.8rem 4.1rem;
  font-weight: 800;
  background-color: #b4d3d3;
  border-radius: 100px; }
  .btn--primary:hover {
    background-color: #74adad; }

.btn__secondary {
  background-color: #b4d3d3; }

.btn--radius-small {
  border-radius: 3px; }

.btn--white {
  background: #fff;
  color: #1a1a1d; }
  .btn--white::after {
    background-color: #fff; }

.btn--green {
  background: #87bbbc;
  color: #fff; }
  .btn--green::after {
    background-color: #87bbbc; }

.btn--icon {
  padding: 2.6rem 3.5rem;
  display: inline-block;
  vertical-align: bottom;
  font-size: 3rem !important; }

.btn-text:link, .btn-text:visited {
  font-size: 1.8rem;
  color: #87bbbc;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #87bbbc;
  padding: 3px;
  transition: all .2s; }

.btn-text:hover {
  background: #87bbbc;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.icon:link, .icon:visited {
  text-decoration: none;
  font-size: 1.5rem;
  color: #1a1a1d; }

.icon:hover {
  color: #87bbbc; }

.icon--vertical {
  margin-bottom: 2.2vw;
  display: block; }
  @media only screen and (max-width: 37.5em) {
    .icon--vertical {
      display: inline-block;
      margin-right: 2rem; } }

.feature-box {
  display: block;
  min-height: 49rem;
  text-decoration: none;
  color: #fff;
  text-align: center;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }
  .feature-box--1 {
    background-image: url(../img/p1.jpg); }
  .feature-box--2 {
    background-image: url(../img/p2.jpg); }
  .feature-box--3 {
    background-image: url(../img/p3.jpg); }
  .feature-box--4 {
    background-image: url(../img/p4.jpg); }
  .feature-box--5 {
    background-image: url(../img/p5.jpg); }
  .feature-box--6 {
    background-image: url(../img/p6.jpg); }
  .feature-box--7 {
    background-image: url(../img/p7.jpg); }
  .feature-box--8 {
    background-image: url(../img/p8.jpg); }
  .feature-box:hover .feature-box__content,
  .feature-box:hover .feature-box__icon {
    opacity: 1; }
  .feature-box__content {
    opacity: 0;
    transition: all .3s;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 49rem;
    background-color: rgba(180, 211, 211, 0.86); }
    @media only screen and (max-width: 56.25em) {
      .feature-box__content {
        opacity: 1;
        background-color: transparent; } }
  .feature-box__text {
    position: absolute;
    bottom: 4.5rem;
    width: 100%; }
    @media only screen and (max-width: 56.25em) {
      .feature-box__text {
        background-color: #b4d3d3;
        padding: 1rem; } }
  .feature-box__heading {
    font-size: 3rem;
    font-family: Poppins, sans-serif;
    letter-spacing: .6px;
    font-weight: normal;
    margin-bottom: 0; }
  .feature-box__subheading {
    text-transform: uppercase;
    font-family: Nunito, sans-serif;
    font-size: 1.2rem;
    letter-spacing: 2.4px;
    font-weight: 800; }
  .feature-box__icon {
    opacity: 0;
    transition: all .3s;
    width: 5.6rem;
    height: 5.6rem;
    border-radius: 50%;
    background: url(../img/arrow-right.png) center no-repeat, #fff;
    transform: rotate(-45deg);
    position: absolute;
    top: 2rem;
    right: 2rem; }
    @media only screen and (max-width: 56.25em) {
      .feature-box__icon {
        opacity: 1; } }

.card-s__img-box {
  width: 20rem;
  height: 13.9rem;
  background-color: #e2e8e8;
  float: left; }

.card-s__text {
  float: left;
  width: calc(100% - (20rem + 4.2rem));
  margin-left: 4.2rem; }

.card-s__img-box:hover + .card-s__text .card-s__heading-link {
  color: #87bbbc; }

.card-s__heading {
  margin-top: -.7rem;
  margin-bottom: 2rem;
  font-weight: 400; }

.card-s__heading-link {
  text-decoration: none;
  font-family: Poppins, sans-serif;
  font-size: 2.4rem;
  line-height: 1.5;
  color: #1a1a1d; }
  .card-s__heading-link:hover {
    color: #87bbbc; }

.card-s__meta-link {
  color: #77777e;
  font-size: 1.6rem;
  text-decoration: none; }

.card-l-horizontal {
  position: relative;
  min-height: 52rem; }
  .card-l-horizontal:after {
    content: '';
    clear: both;
    display: table; }
  .card-l-horizontal__text {
    float: left;
    width: 42rem;
    background-color: #b4d3d3;
    height: 52rem;
    padding-left: 6rem;
    color: #fff; }
  .card-l-horizontal__video-box {
    position: relative;
    float: left;
    width: calc(100% - 42rem);
    height: 52rem; }
  .card-l-horizontal__video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-position: top center; }
  .card-l-horizontal__play-icon {
    margin-top: 20rem;
    margin-bottom: 3rem;
    width: 3.2rem;
    height: 4rem;
    fill: #fff; }
    .card-l-horizontal__play-icon:hover {
      fill: #f7f7f7; }
  .card-l-horizontal__heading {
    font-size: 3rem;
    line-height: 1.6;
    letter-spacing: -0.6px;
    font-weight: 500;
    font-family: Poppins, sans-serif;
    max-width: 30rem;
    margin-bottom: 1.5rem; }
  .card-l-horizontal__heading-link {
    text-decoration: none;
    color: #fff; }
    .card-l-horizontal__heading-link:hover {
      color: #f7f7f7; }
  .card-l-horizontal__meta {
    font-size: 1.6rem; }
  .card-l-horizontal__meta-link {
    color: #fff;
    text-decoration: none; }
    .card-l-horizontal__meta-link:hover {
      color: #f7f7f7; }
  .card-l-horizontal__btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background-color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 1.4rem;
    padding: 2.3rem 5.7rem;
    color: #1a1a1d;
    letter-spacing: 2.8px;
    z-index: 10;
    transition: all .3s; }
    .card-l-horizontal__btn:hover {
      background-color: #e6e6e6; }

.card-l-vertical__slider {
  width: 100%;
  height: 85.6rem;
  background-color: #e2e8e8;
  margin-bottom: 3.7rem; }

.card-l-vertical__slider-img {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.card-l-vertical__heading {
  font-size: 2.4rem;
  font-family: Poppins, sans-serif;
  font-weight: 500;
  margin-bottom: 1.5rem; }

.card-l-vertical__meta {
  font-size: 1.6rem;
  color: #77777e; }

.card-m__img-box {
  background-color: #e2e8e8;
  height: 28.6rem;
  margin-bottom: 3.7rem; }

.card-m__heading {
  font-size: 2.4rem;
  font-family: Poppins, sans-serif;
  font-weight: 500;
  margin-bottom: 1.5rem; }

.card-m__meta {
  font-size: 1.6rem;
  color: #77777e; }

.card-slider {
  height: 43.7rem;
  background-color: #e2e8e8; }

.search__input {
  border: none;
  border-left: 1px solid #87bbbc;
  padding-left: 5rem;
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 2.8px;
  font-weight: 800; }

.view-switcher:after {
  content: '';
  clear: both;
  display: table; }

.view-switcher__icon {
  float: left;
  display: inline-block;
  margin-left: 1rem; }

.social-feed {
  padding-left: 6.1rem;
  padding-top: 36.6rem;
  min-height: 101rem;
  position: relative; }
  .social-feed:before, .social-feed:after {
    content: '';
    position: absolute; }
  .social-feed:before {
    top: 40%;
    left: 0;
    width: 6.1rem;
    height: 72rem;
    background-color: #e2e8e8; }
  .social-feed:after {
    background: linear-gradient(to bottom left, #b4d3d3, #d9e7e7) 480px 50px no-repeat, linear-gradient(#e2e8e8, #e2e8e8);
    width: 144rem;
    height: 72rem;
    top: 0;
    right: 0;
    z-index: -1; }
  .social-feed__row {
    padding-left: 17.6rem; }
    .social-feed__row:after {
      content: '';
      clear: both;
      display: table; }
  .social-feed__arrows {
    float: left; }
  .social-feed__heading-group {
    float: left;
    max-width: 65rem;
    background-color: transparent; }
  .social-feed__icon-group {
    position: relative;
    float: left;
    left: 70rem;
    z-index: 10; }
  .social-feed__quote-text {
    font-family: "Playfair Display", cursive;
    color: #73737b;
    font-size: 3rem;
    letter-spacing: -1.2px;
    max-width: 60rem; }
  .social-feed__quote-link {
    color: #000; }
    .social-feed__quote-link--accent {
      color: #72b9b9; }
  .social-feed__quote-group {
    margin-left: 22rem; }

.container {
  max-width: 167.33333rem;
  margin: 0 auto; }

.row:not(:last-child) {
  margin-bottom: 5rem; }
  @media only screen and (max-width: 56.25em) {
    .row:not(:last-child) {
      margin-bottom: 2rem; } }

@media only screen and (max-width: 56.25em) {
  .row {
    max-width: 50rem;
    padding: 0 3rem; } }

.row:after {
  content: '';
  clear: both;
  display: table; }

.row [class^="col-"] {
  float: left; }
  .row [class^="col-"]:not(:last-child) {
    margin-right: 6rem; }
    @media only screen and (max-width: 56.25em) {
      .row [class^="col-"]:not(:last-child) {
        margin-right: 0;
        margin-bottom: 2rem; } }
  @media only screen and (max-width: 56.25em) {
    .row [class^="col-"] {
      width: 100% !important; } }

.row .col-1-of-2 {
  width: calc((100% - 6rem) / 2); }

.row .col-1-of-3 {
  width: calc((100% - 6rem * 2) / 3); }

.row .col-2-of-3 {
  width: calc(((100% - 6rem * 2) / 3) * 2 + 6rem); }

.row .col-1-of-4 {
  width: calc((100% - 6rem * 3) / 4); }

.row .col-2-of-4 {
  width: calc(((100% - 6rem * 3) / 4) * 2 + 6rem); }

.row .col-3-of-4 {
  width: calc(((100% - 6rem * 3) / 4) * 3 + 6rem * 2); }

.row .col-1-of-12 {
  width: calc((100% - 6rem * 11) / 12); }

.row .col-2-of-12 {
  width: calc(((100% - 6rem * 5) / 12) * 2); }

.row .col-3-of-12 {
  width: calc(((100% - 6rem * 3) / 12) * 3); }

.row .col-4-of-12 {
  width: calc(((100% - 6rem * 2) / 12) * 4); }

.row .col-6-of-12 {
  width: calc(((100% - 6rem) / 12) * 6); }

.row .col-8-of-12 {
  width: calc(((100% - 6rem / 2) / 12) * 8); }

.row .col-12-of-12 {
  width: 100%; }

.row--gallery {
  max-width: 167.999999rem;
  margin: 0 auto; }
  .row--gallery:after {
    content: '';
    clear: both;
    display: table; }
  .row--gallery:last-child {
    margin-bottom: 6.1rem; }
  .row--gallery [class^="col-"] {
    float: left; }
  .row--gallery .col-1-of-4 {
    width: calc(100% / 4); }
    @media only screen and (max-width: 56.25em) {
      .row--gallery .col-1-of-4 {
        width: calc(100% / 2); } }
    @media only screen and (max-width: 37.5em) {
      .row--gallery .col-1-of-4 {
        width: 100%; } }
  .row--gallery:nth-child(odd) .col-1-of-4:nth-of-type(odd) {
    background-color: #e2e8e8; }
  .row--gallery:nth-child(odd) .col-1-of-4:nth-of-type(even) {
    background-color: #d3dcdc; }
  .row--gallery:nth-child(even) .col-1-of-4:nth-of-type(even) {
    background-color: #e2e8e8; }
  .row--gallery:nth-child(even) .col-1-of-4:nth-of-type(odd) {
    background-color: #d3dcdc; }

.header {
  position: absolute;
  width: 100%;
  padding: 6.7rem 6.1rem;
  z-index: 100; }
  .header:after {
    content: '';
    clear: both;
    display: table; }
  @media only screen and (max-width: 56.25em) {
    .header {
      position: relative;
      padding: 3rem 1rem; } }
  .header__nav {
    float: left; }
  .header__logo-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .header__logo-box--about {
      left: 56.1%; }
  .header__logo-img {
    display: block; }
    @media only screen and (max-width: 56.25em) {
      .header__logo-img {
        width: 15rem; } }
  .header__search-box {
    float: right; }

.footer {
  padding: 4.7rem 6.1rem; }
  @media only screen and (max-width: 37.5em) {
    .footer {
      padding: 1rem; } }
  .footer__top:after, .footer__bottom:after {
    content: '';
    clear: both;
    display: table; }
  .footer__top {
    padding-bottom: 4rem;
    border-bottom: 2px solid #f5f5f5;
    margin-bottom: 5rem; }
  .footer__logo-box {
    width: 19.7rem;
    float: left; }
  .footer__logo {
    width: 100%; }
  .footer__newsletter {
    position: relative;
    float: right;
    font-size: 1.4rem;
    letter-spacing: 2.8px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0 5rem;
    border-left: 1px solid #b4d3d3; }
    .footer__newsletter:after {
      content: url(../img/-e-ic-mail-outline-24px.png);
      width: 1rem;
      position: absolute;
      top: .3rem;
      right: 1rem; }
  .footer__copyright {
    float: left;
    font-size: 1.5rem;
    color: #77777e; }
  .footer__social {
    float: right; }
  .footer__social-icon {
    margin-left: 4rem; }

.navigation__icon {
  display: inline-block;
  position: relative;
  top: 3px; }

.navigation__link:link, .navigation__link:visited {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 1.4rem;
  line-height: 3rem;
  letter-spacing: 2.8px;
  color: #1a1a1d;
  display: inline-block;
  margin-left: 5rem; }
  @media only screen and (max-width: 37.5em) {
    .navigation__link:link, .navigation__link:visited {
      display: none; } }

.navigation__link:hover {
  color: #87bbbc; }

.section-killer {
  padding: 27rem 6.1rem 0;
  margin-bottom: 2rem; }
  @media only screen and (max-width: 56.25em) {
    .section-killer {
      padding-top: 0;
      padding-right: 1rem;
      padding-left: 1rem; } }
  .section-killer:before {
    content: '';
    width: 39.7%;
    height: 37.5vw;
    background-color: #b4d3d3;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1; }
    @media only screen and (max-width: 56.25em) {
      .section-killer:before {
        height: 30vw; } }

.section-gallery {
  padding-top: 8.4rem;
  margin: 0 auto;
  margin-bottom: 9rem; }
  @media only screen and (max-width: 56.25em) {
    .section-gallery {
      padding-top: 3rem; } }
  .section-gallery__controls {
    text-align: center;
    margin-bottom: 8.2rem; }
    @media only screen and (max-width: 56.25em) {
      .section-gallery__controls {
        margin-bottom: 3rem; } }

.section-news {
  margin-top: 6.8rem;
  margin-bottom: 11.9rem; }

.about__killer {
  min-height: 108rem;
  padding: 0 0 0 6.1rem;
  background-color: #d3dcdc;
  background-image: url(../img/poster8.jpg);
  background-repeat: no-repeat;
  background-size: 45% auto;
  background-position: left top;
  background-blend-mode: darken;
  position: relative;
  margin-bottom: 10.5rem; }

.about__content {
  padding-left: 19rem;
  padding-right: 20.052%;
  padding-top: 26rem;
  margin-left: 38.5%;
  background-color: #fff;
  min-height: 108rem;
  position: relative; }
  .about__content:after {
    position: absolute;
    content: '';
    background-image: linear-gradient(to bottom left, #b4d3d3, #d9e7e7);
    width: 19.55%;
    height: 46.177%;
    right: 0;
    top: 0; }

.about__paragraph {
  font-size: 1.6rem;
  line-height: 2.25;
  color: #77777e;
  font-weight: normal;
  margin-bottom: 3.7rem; }

.about__heading-3 {
  margin-bottom: 2.5rem;
  line-height: 1.6;
  position: relative;
  padding-left: 5.3rem; }
  .about__heading-3 span {
    position: absolute;
    font-size: 300%;
    top: 0;
    line-height: 1.1;
    left: -5px; }

.about__social {
  position: absolute;
  left: 6.1rem;
  top: 50%;
  transform: translateY(-50%); }

.about__blockquote {
  position: absolute;
  bottom: 0;
  width: 50%; }

.about__action {
  position: absolute;
  bottom: 0;
  left: 0; }

.about__gallery {
  margin-bottom: 12.2rem; }

.client__killer {
  position: relative;
  min-height: 108rem;
  margin-bottom: 12rem; }
  .client__killer:after {
    content: '';
    clear: both;
    display: table; }

.client__social {
  position: absolute;
  top: 25.5%;
  transform: translateX(-50%);
  left: 6.1rem; }

.client__number {
  left: 5rem;
  top: 69.6%; }

.client__text-box, .client__photo-control {
  float: left; }

.client__text-box {
  padding-left: 6.1rem;
  padding-top: 27rem;
  width: 59.95%;
  height: 108rem;
  background-image: linear-gradient(to bottom left, #b4d3d3, #d9e7e7); }

.client__text {
  background-color: #fff;
  margin-left: 24rem;
  padding-left: 14.8rem;
  padding-top: 13rem;
  padding-bottom: 16rem;
  height: 50.5rem; }

.client__photo-control {
  padding-top: 27rem;
  padding-right: 12rem; }

.client__photo-box {
  background-color: #000;
  height: 50.5rem;
  width: 63rem;
  overflow: hidden; }

.client__photo {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%; }

.client__heading, .client__subheading {
  margin-bottom: 5rem; }

.client__subheading {
  position: relative; }
  .client__subheading:after {
    width: 6rem;
    height: 7px;
    background-color: #87bbbc;
    position: absolute;
    content: '';
    bottom: .8rem;
    right: 22rem; }
    @media only screen and (max-width: 56.25em) {
      .client__subheading:after {
        width: 3rem; } }

.client__control-box:after {
  content: '';
  clear: both;
  display: table; }

.client__control-text {
  padding-top: 7.5rem;
  padding-left: 12.4rem;
  padding-right: 8rem;
  padding-bottom: 5rem;
  background-color: #e2e8e8;
  float: left; }

.client__control-subheading {
  font-size: 1.2rem;
  letter-spacing: 2.4px;
  font-weight: 800;
  text-transform: uppercase;
  position: relative; }
  .client__control-subheading:before {
    width: 6rem;
    height: 2px;
    background-color: #87bbbc;
    content: '';
    position: absolute;
    left: -12rem;
    top: 1rem; }
    @media only screen and (max-width: 37.5em) {
      .client__control-subheading:before {
        width: 3rem; } }

.client__control-heading {
  font-size: 4.2rem;
  font-family: Poppins, sans-serif;
  font-weight: 500; }

.client__arrows {
  float: left;
  padding-left: 5rem;
  padding-top: 7.5rem; }

.client__gallery {
  padding: 0 12rem; }

.client__gallery-controls-group {
  margin-bottom: 3rem; }
  .client__gallery-controls-group:after {
    content: '';
    clear: both;
    display: table; }

.client__gallery-controls {
  float: left; }

.client__view-switcher {
  float: right; }
