// Colors
$color-primary: #87bbbc; 
$color-primary-light: #d9e7e7;
$color-primary-light-2: #e2e8e8;
$color-primary-dark: #b4d3d3;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-dark: #1a1a1d;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;
$color-grey-dark-4: #aaa;


$color-white: #fff;
$color-black: #000;


// Grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

// Font
$font-color-default: $color-grey-dark;
$font-color-light: $color-grey-dark-4;

$font-family-default: Nunito, sans-serif;
$font-family-heading: Poppins, sans-serif;
$font-weight-default: 400;
$line-height-default: 1.7;
$line-height-heading: 1.2;

// FONT SIZES
$default-font-size: 1.8rem;
$font-size-boss: 10.1rem;
$font-size-l: 3.5rem;
$font-size-m: 2.5rem;
$font-size-s: 1.7rem;
$font-size-xs: 1.4rem;

// SPACINGS
$spacing-xl: 15rem;
$spacing-l: 10rem;
$spacing-m: 5rem; 
$spacing-s: 3rem; 
$spacing-xs: 1rem; 
$spacing-xxs: .5rem; 

// BORDERS
$border-radius-default: 3px;

// LINKS
$link-font-size: $font-size-xs;
$link-color-default: $font-color-default;
$link-color-hover-default: $color-primary;

// BUTTONS
$button-font-size: $font-size-xs;

$button-font-color: $color-white;
$button-hover-font-color: $color-white;

$button-bg-color: $color-primary-dark;
$button-hover-bg-color: darken($color-primary, 3%);

// FOOTER
$footer-background-color: $color-grey-dark-3;