.header {
	@include clearfix;

	position: absolute;
	width: 100%;
	padding: 6.7rem 6.1rem;
	z-index: 100;

	@include respond(tab-port) {
		position: relative;
		padding: 3rem 1rem;
	}

	&__nav {
		float: left;
	}

	&__logo-box {
		@include absCenter;

		&--about {
			left: 56.1%;
		}
	}

	&__logo-img {
		display: block;

		@include respond(tab-port) {
			width: 15rem;
		}
	}

	&__search-box {
		float: right;
	}
}