.header {
	@include clearfix;

	position: relative;
	padding: 6.7rem 6.1rem;

	&__nav {
		float: left;
	}

	&__logo-box {
		@include absCenter;
	}

	&__logo-img {
		display: block;
	}

	&__search-box {
		float: right;
	}
}