.header {
	@include clearfix;

	position: relative;
	padding: 6.7rem 6.1rem;

	@include respond(tab-port) {
		padding: 3rem 1rem;
	}

	&__nav {
		float: left;
	}

	&__logo-box {
		@include absCenter;
	}

	&__logo-img {
		display: block;

		@include respond(tab-port) {
			width: 15rem;
		}
	}

	&__search-box {
		float: right;
	}
}