.btn {
	&,
	&:link,
	&:visited {
		text-transform: uppercase;
		text-decoration: none;
		display: inline-block;
		transition: all .2s;
		backface-visibility: hidden;
		position: relative;
		font-size: $button-font-size;

		// Change for the <button> element
		border: none;
		cursor: pointer;
	}
	&:hover {
	}
	&:active,
	&:focus {

	}

	&--square {
		color: $color-white;
		background: $button-bg-color;
		padding: 4rem 6.4rem;

		@include respond(tab-port) {
			padding: 1rem 2rem;
		}
	}

	&--primary {
		color: $color-white;
		font-size: $font-size-xs;
		letter-spacing: 2.8px;
		padding: 1.8rem 4.1rem;
		font-weight: 800;
		background-color: $color-primary-dark;
		border-radius: 100px;

		&:hover {
			background-color: darken($color-primary-dark, 20%);
		}
	}
	&--white {
		background: $color-white;
		color: $color-grey-dark;
		&::after {
			background-color: $color-white;
		}
	}
	&--green {
		background: $color-primary;
		color: $color-white;
		&::after {
			background-color: $color-primary;
		}
	}
}

.btn-text {
	&:link,
	&:visited {
		font-size: $default-font-size;
		color: $color-primary;
		display: inline-block;
		text-decoration: none;
		border-bottom: 1px solid $color-primary;
		padding: 3px;
		transition: all .2s;
	}

	&:hover {
		background: $color-primary;
		color: $color-white;
		box-shadow: 0 1rem 2rem rgba($color-black, .15);
		transform: translateY(-2px);
	}

	&:active {
		box-shadow: 0 .5rem 1rem rgba($color-black, .15);
		transform: translateY(0);
	}
}