body {
	font-family: $font-family-default;
	font-weight: $font-weight-default;
	line-height: $line-height-default;
	color: $font-color-default;
}

.link {
	&:link,
	&:visited {
		font-weight: 800;
		font-size: $font-size-xxs;
		line-height: 4rem;
		letter-spacing: 2.4px;
		text-transform: uppercase;
		text-decoration: none;
		color: $color-grey-dark-2;
		display: inline-block;
		border-bottom: 2px solid transparent;
		min-width: 14.2rem;
	}

	&--active {
		&:link,
		&:visited {
			color: $font-color-default;
			border-bottom-color: $font-color-default;
		}
	}

	&:hover {
		border-bottom-color: inherit;
	}
}

.heading {
	font-family: $font-family-heading;
	
	&--primary {
		font-size: $font-size-boss;
		font-weight: normal;
		line-height: 10rem;
		letter-spacing: 2px;
		margin-bottom: 6rem;

		@include respond(tab-port) {
			font-size: $font-size-l;
			margin-bottom: 0;
		}
	}

	&--secondary {
		font-size: $font-size-l;
		font-weight: normal;
		margin-bottom: 2.1rem;
		position: relative;
	}

	&--sub {
		font-size: $font-size-s;
		text-transform: uppercase;
		line-height: 3rem;
		letter-spacing: 3.4px;
		font-weight: 600;
	}

	&-3 {
		font-size: 2.4rem;
		font-weight: 500;
		margin-bottom: 1.5rem;

	}
	&__link {
		text-decoration: none;
		color: $font-color-default;

		&:hover {
			color: $color-primary;
		}
	}
}

.meta {

	&__link {
		font-size: 1.6rem;
		color: $color-grey-dark-4;
		text-decoration: none;

		&:hover {
			color: $color-primary;
		}
	}
}