body {
	font-family: $font-family-default;
	font-weight: $font-weight-default;
	line-height: $line-height-default;
	color: $font-color-default;
}

a {

	&:link,
	&:visited {
		color: $link-color-default;
	}

	&:hover {
		color: $link-color-hover-default;
	}
}