.client {

	&__killer {
		@include clearfix;

		position: relative;

		min-height: 108rem;
		margin-bottom: 12rem;
	}

	&__social {
		position: absolute;
		top: 25.5%;
		transform: translateX(-50%);
		left: 6.1rem;
	}

	&__number {
		left: 5rem;
		top: 69.6%;
	}

	&__text-box,
	&__photo-control {
		float: left;
	}

	&__text-box {
		padding-left: 6.1rem;
		padding-top: 27rem;
		width: 59.95%;
		height: 108rem;
		background-image: linear-gradient(to bottom left, $color-primary-dark, $color-primary-light);
	}

	&__text {
		background-color: $color-white;
		margin-left: 24rem;
		padding-left: 14.8rem;
		padding-top: 13rem;
		padding-bottom: 16rem;
		height: 50.5rem;
	}

	&__photo-control {
		padding-top: 27rem;
		padding-right: 12rem;
	}

	&__photo-box {
		background-color: $color-black;
		height: 50.5rem;
		width: 63rem;
		overflow: hidden;
	}

	&__photo {
		object-fit: cover;
		object-position: center;
		width: 100%;
		height: 100%;
	}

	&__heading,
	&__subheading {
		margin-bottom: 5rem;
	}

	&__subheading {
		position: relative;

		&:after {
			@include design-line(medium, $color-primary);

			position: absolute;
			content: '';
			bottom: .8rem;
			right: 22rem;
		}
	}

	&__control-box {
		@include clearfix;
	}

	&__control-text {
		padding-top: 7.5rem;
		padding-left: 12.4rem;
		padding-right: 8rem;
		padding-bottom: 5rem;
		background-color: $color-primary-light-2;
		float: left;
	}

	&__control-subheading {
		font-size: $font-size-xxs;
		letter-spacing: 2.4px;
		font-weight: 800;
		text-transform: uppercase;
		position: relative;

		&:before {
			@include design-line(small, $color-primary);

			content: '';
			position: absolute;
			left: -12rem;
			top: 1rem;
		}
	}

	&__control-heading {
		font-size: 4.2rem;
		font-family: $font-family-heading;
		font-weight: 500;
	}

	&__controls {
		float: left;
		padding-left: 5rem;
		padding-top: 7.5rem;
	}

	&__controls-icon {
		font-size: $font-size-s;

		&--up:before {
			display: block;
			transform: rotate(-45deg);
		}

		&--down:before {
			display: block;
			transform: rotate(135deg);
		}
	}

	&__icon-btn {
		text-decoration: none;
		color: $font-color-default;
		margin-bottom: 4rem;
		display: block;

		&--deactivated {
			color: $color-primary-light-3;
		}
	}

	// GALLERY
	&__gallery {
		padding: 0 12rem;
	}

	&__gallery-controls-group {
		@include clearfix;

		margin-bottom: 3rem;
	}

	&__gallery-controls {
		float: left;
	}

	&__view-switcher {
		float: right;
	}
}